################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WORKING WITH BLOCK 20-11-2019/.vs/WORKING WITH BLOCK/v16
/WORKING WITH BLOCK 20-11-2019/AutoCadCShapAddin/bin/Debug
