################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WORKING WITH BLOCK 20-11-2019/.vs/WORKING WITH BLOCK/v16
/WORKING WITH BLOCK 20-11-2019/AutoCadCShapAddin/bin/Debug
/.vs/AutoCadAPI/v16
/.vs
/WORKING WITH BLOCK 20-11-2019/AutoCadCShapAddin/obj/Debug
/WORKING WITH BLOCK 20-11-2019/WORKING WITH BLOCK/obj/Debug
/WORKING WITH BLOCK 20-11-2019/ObjectArxApp/x64/Debug
/WORKING WITH BLOCK 20-11-2019/x64/Debug
/210404.dwl
/210404.dwl2
/WORKING WITH BLOCK 20-11-2019/ObjectArxApp/Debug/ObjectArxApp.tlog
/WORKING WITH BLOCK 20-11-2019/ObjectArxApp/Debug
/WORKING WITH BLOCK 20-11-2019/AutoCadCShapAddin/bin/Release
/WORKING WITH BLOCK 20-11-2019/WORKING WITH BLOCK/obj/Release
